<div class="col-sm-3 col-sm-offset-1 sidebar">
  <div class="sidebar-module">
    <ul class="list-unstyled">
      <li><p><a href="#" class="btn btn-default btn-lg">A book title</a></p></li>
      <li><p><a href="#" class="btn btn-default btn-lg">A book title</a></p></li>
      <li><p><a href="#" class="btn btn-default btn-lg">A book title</a></p></li>
      <li><p><a href="#" class="btn btn-default btn-lg">A book title</a></p></li>
      <li><p><a href="#" class="btn btn-default btn-lg">A book title</a></p></li>
    </ul>
  </div>
</div>